<h1> Superpower Page </h1>

<ul>
    <li><h3> Power: <%= @power.name %></h3></li>
      <br>
    <li><h3> Description: <%= @power.description %></h3> </li>
    <br>
    <li><h3><%= link_to "Go To Power Index", powers_path%>
</ul>
