<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to(heroine.super_name, heroine_path(heroine)) %>
    </li>
    <br>
  <% end %>
</ul>
<hr>
<%= link_to("Create new Heroine", new_heroine_path) %> | <%= link_to("View List of All Powers", powers_path) %>