<h2><%= @heroine.super_name %></h2>


<p>Real Name: <%= @heroine.name %></p>
<p>Super Name: <%= @heroine.super_name %></p>
<p>Super Power: <%= link_to @heroine.power.name, power_path(@heroine.power) %></p>
